@model IEnumerable<EasyBreath.Domain.Entities.Products.Product>
@using EasyBreath.web.Extensions

@{
     Layout = null;
     var user = System.Web.HttpContext.Current.GetMySessionObject();
}


<table border="1" cellspacing="0">
     <tr>
          <th>
               @Html.DisplayNameFor(model => model.Thumbnail)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.Name)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.Price)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.Amount)
          </th>

     </tr>

     @foreach (var item in Model)
     {
          <tr>
               <td>
                    <img src="@item.Thumbnail" alt="Product Thumbnail" width="100" height="100">
               </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Id)
               </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Name)
               </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Price)
               </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Amount)
               </td>
               @if ((user != null) && (user.AccessLevel == EasyBreath.Domain.Enum.URole.ADMINISTRATOR))
               {
                    <td>
                         @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                         @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    </td>
               }
               <td>
                    @Html.ActionLink("AddToCart", "AddToCart", "Cart", new { id = item.Id }, null) |

               </td>

          </tr>
     }
     @if ((user != null) && (user.AccessLevel == EasyBreath.Domain.Enum.URole.ADMINISTRATOR))
     {
          <td>

               @Html.ActionLink("Add Product", "CreatePage")

          </td>
     }

</table>

